* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 14px 'Times New Roman', Times, sans-serif;
    background-color: #fff;
    min-height: 100%;





}

ul,
ol {
    list-style: none;


}

/*
.clearfix:before,
.clearfix:after{
    content: ' ';
    display: table;
    
}
*/
.clearfix:after {
    clear: both;

}

.left {
    float: left;

}

.right {
    float: right;

}

.text-right {
    text-align: right;

}

.text-left {
    text-align: left;

}

.container {
    width: 940px;
    margin: 0 auto;

}

/*header*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #000;
    height: 65px;
    z-index: 1;
    padding: 20px 0;
    box-shadow: 0 2px 4px blue;
}

.logo {
    float:left;
    margin-top: -18px;
    
    

}

.nav {
    float: right;

}

.nav li {
    float: left;
    margin-right: 30px;
      margin-top:2px;

}

.nav a {
    color: #fff;
    text-transform: uppercase;
    font: 14px, Arial, sans-serif;

}

.nav a:hover {
    color: blue;

}

/*home*/
#home {
    color: #fff;
    padding-top: 270px;
    height: 100vh;
    text-align: center;
    background-image: url(pryanuku.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;


}

#home h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 50px;


}

#home h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 50px;

}

/*
.btn{
    background-color:blue;
    padding: 20px 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 900;
    
    
}
.btn hover{
    background-color: blue;
        
}*/
